.np-footer {
  padding-top: 95px;
  background-color: #1d1d1d;
  color: #ffffff;
}
.np-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.np-col4 {
  flex: 0 0 25%;
  width: 25%;
  display: flex;
  justify-content: center;
}

.np-footer__logo a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 30px;
  font-weight: 900;
  color: #ffffff;

  position: relative;
}
.np-footer__logo a::after {
  content: "";
  position: absolute;
  right: -110px;
  bottom: 40%;
  width: 80px;
  height: 5px;
  background-color: #ffffff80;
}
.np-footer__address p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}
.np-footer__phone p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}
.np-footer__icons {
}
.np-footer__icons a {
  padding-left: 30px;

  color: #ffffff;
  text-decoration: none;
}
.np-copyright {
  padding: 45px 0;
}
.np-copyright__text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.np-copyright__text p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}

@media (max-width: 1670px) {
}
@media (max-width: 1500px) {
}
@media (max-width: 1400px) {
}
@media (max-width: 1300px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .np-footer {
    padding-top: 75px;
    display: flex;
  }
}
@media (max-width: 767px) {
  .np-col4 {
    flex: 0 0 50%;
    width: 50%;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .np-footer {
    padding-top: 35px;
  }
  .np-col4 {
    flex: 0 0 100%;
    width: 100%;
  }
  .np-footer__logo a::after {
    right: 10px;
    bottom: -20%;
  }
  .np-copyright {
    padding: 25px 0;
  }
}
