.np-projects {
  height: 333px;
  padding: 117px 0;

  background-color: #1d1d1d;
  color: #ffffff;
}
.np-projects__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.np-projects__col3 {
  flex: 0 0 33.3333%;
  width: 33.3333%;
}
.np-projects__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.np-projects__title {
  font-family: "Playfair Display", serif;
  font-size: 18px;
}
.np-projects__num {
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: bold;
}
